.u-section-1 {
    background-image: none;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 1339px;
  }
  
  .u-section-1 .u-list-1 {
    width: 941px;
    margin: 70px auto 60px;
  }
  
  .u-section-1 .u-repeater-1 {
    min-height: 1080px;
    grid-template-columns: calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px) calc(33.3333% - 33.3333px);
    grid-gap: 50px 50px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-3 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-4 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-5 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-6 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-6 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-7 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-7 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-8 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-8 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-9 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-9 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-10 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-10 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-11 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-11 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-12 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-12 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-13 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-13 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  .u-section-1 .u-container-layout-14 {
    padding: 10px;
  }
  
  .u-section-1 .u-btn-14 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    margin: 0 auto;
    padding: 67px 52px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-list-1 {
      width: 940px;
    }
  
    .u-section-1 .u-repeater-1 {
      min-height: 1079px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-list-1 {
      width: 720px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: calc(50% - 25px) calc(50% - 25px);
      min-height: 1736px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-list-1 {
      width: 540px;
    }
  
    .u-section-1 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-list-1 {
      width: 340px;
    }
  }
